<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/style.css" />
		<title>Adaptive Design</title>
	</head>
	<body>
		<h1><i>Adaptive Design</i></h1>
		<p>
			El <i>Adaptive Design</i>, trata de crear interfaces que se adapten a las capacidades y características de cada
			dispositivo (<i>Hardware</i> y <i>Software</i>).
		</p>
		<p>Utiliza programación <i>JavaScript</i> para los cambios en la interfaz.</p>
		<p>
			Además podría tener diferentes <i>fronts</i> dependiendo de los dispositivos que soliciten el recurso, por
			ejemplo:
		</p>
		<ul>
			<li>
				<a href="https://facebook.com/" target="_blank"><i>Facebook Desktop</i></a>
			</li>
			<li>
				<a href="https://m.facebook.com/" target="_blank"><i>Facebook Mobile</i></a>
			</li>
		</ul>
		<p>
			Fue propuesto por <a href="https://www.aaron-gustafson.com/" target="_blank"><i>Aaron Gustafson</i></a> en 2011.
		</p>
		<h3>Más información</h3>
		<ul>
			<li>
				<a href="https://blog.easy-designs.net/archives/on-adaptive-vs-responsive-web-design/" target="_blank"
					>Artículo <i>Adaptive Design</i></a
				>
			</li>
			<li>
				<a href="https://adaptivewebdesign.info/" target="_blank">Libro <i>Adaptive Design</i></a>
			</li>
			<li>
				<a href="https://www.youtube.com/watch?v=WHfyN411fd4&list=PLvq-jIkSeTUZ6QgYYO3MwG9EMqC-KoLXA" target="_blank"
					>Detección de Dispositivos con <i>JS</i></a
				>
			</li>
		</ul>
	</body>
</html>
