<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/style.css" />
		<title>Frameworks CSS</title>
	</head>
	<body>
		<h1>Frameworks CSS</h1>
		<p>Son marcos de trabajo que nos ofrecen componentes y utilidades de UI</p>

		<h2>Menos relevantes en esta época</h2>

		<h4><a href="https://960.gs/" target="_blank" rel="noopener">960 Grid system</a></h4>
		<p>
			Salio en la época cuando no había responsive design y donde la pantalla estandar media 1024px y aplicaba 32px de
			margen a cada lado. Por ello se llama asi
		</p>

		<h4><a href="http://getskeleton.com/" target="_blank" rel="noopener">Skeleton</a></h4>

		<h4><a href="https://purecss.io/" target="_blank" rel="noopener">Pure CSS</a></h4>
		<p>Era un framework orientado a componentes, podemos descargar solo lo que necesitamos</p>

		<h4><a href="https://ink.sapo.pt/" target="_blank" rel="noopener">Ink</a></h4>
		<p>
			Te permite configurar el código, los nuevos frameworks nos dan el código con la posibilidad de manipularlo a
			nuestras necesidades, lo podemos obtener con css puro o con el preprocesador Sass
		</p>
		<blockquote>
			Aunque no es recomendado manipular el código fuente ya que en cuanto el framework se actualice nuestros cambios no
			se verán, por lo que lo recomendado es que agreguemos una clase con nuestro código en css puro
		</blockquote>

		<h4><a href="https://www.muicss.com/" target="_blank" rel="noopener">Muicss</a></h4>
		<p>Podemos implementarlo muy fácil con librerías de JavaScript como react, angular, etc...</p>

		<h4><a href="https://semantic-ui.com/" target="_blank" rel="noopener">Semantic UI</a></h4>
		<p>Utiliza de una manera mas amigable el uso de todas las etiquetas semánticas que tenemos en HTML</p>
		<p>Tiene un propio estilo visual, no tiene los mismos estilos decadente de bootstrap y foundation</p>

		<h2>Los mas usados o relevantes</h2>
		<blockquote>Estos nuevos frameworks ya tienen accesibilidad web</blockquote>

		<h4><a href="https://bulma.io/" target="_blank" rel="noopener">BULMA</a></h4>
		<p>No nos da el JavaScript, en algunos componentes nos da la recomendación o sugerencia de como lo podemos hacer</p>
		<p>
			Fue desarrollado por los mismos creadores de vue.js por lo que es común ver que se hagan publicidad entre ellos
		</p>

		<h4><a href="https://getuikit.com/docs/introduction" target="_blank" rel="noopener">Uikit</a></h4>
		<p>Parecido a MUI por su facilidad de implementación en las librerías de JavaScript</p>
		<p>La mayoría de sus clases inician con uk-</p>

		<h4><a href="https://materializecss.com/" target="_blank" rel="noopener">Materialize </a></h4>
		<p>Es muy reconocido por haber sido el primer framework que dejo de usar jquery y empezó a usar JavaScript</p>
		<p>Lo sobresaliente son los diseños de sus componentes</p>

		<h4><a href="https://get.foundation/sites/docs/installation.html" target="_blank" rel="noopener">Foundation</a></h4>
		<p>
			Es el segundo framework mas reconocido, se ha mantenido junto a Bootstrap creciendo y adaptándose a las nuevas
			tecnologías, tal vez sobresale un poco en las buenas practicas que maneja en su código y que todos los componentes
			ademas de su documentación tiene video tutoriales
		</p>

		<h4><a href="https://tailwindcss.com/">Tailwind CSS</a></h4>
		<p>
			Ha ganado mucha popularidad porque es muy fácil de implementar, tiene muchas clases utilitarias y bastantes
			componentes. Al igual nos permite eliminar cosas que no vamos a usar en nuestro proyecto, al igual es muy fácil
			agregarlo al flujo de trabajo con react y todas estas librerías e incluso tiene su documentación
		</p>

		<h4><a href="https://getbootstrap.com/" target="_blank" rel="noopener">Bootstrap</a></h4>
		<p>
			Fue creado por gente de twitter y siguen dándole soporte */ /* Es el mejor de todos, cada version va mejorando y
			agregando componentes, los cuales son muchos ademas de sus clases utilitarias e iconos
		</p>

		<h4>¿Cuando usar cual?</h4>
		<p>
			Esto va a depender de las necesidades del proyecto, es importante conocer opciones para poder elegir la mejor, al
			igual cuando estamos incorporándonos en proyectos pueden que ya tengan definido trabajar con uno y es mejor no
			iniciar de 0
		</p>
	</body>
</html>
