<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/style.css" />
		<title>Arquitectura Minimalista</title>
	</head>
	<body>
		<h1>Arquitectura Minimalista</h1>
		<p>
			Esta arquitectura es planteada por <a href="https://jonmircha.com/" target="_blank" rel="noopener">@jonmircha</a>
		</p>
		<p>En una sola hoja de estilos define los estilos los cuales los organiza de este modo:</p>
		<ol>
			<li>Custom Properties -> Declaración de variables</li>
			<li>Reset -> Normalizar y definir valores iniciales a etiquetas</li>
			<li>Components -> Elementos que se pueden usar en otro proyecto</li>
			<li>Utilities -> Clases declarativas enfocadas solo a una función</li>
			<li>Site Styles -> Estilos particulares de cada proyecto</li>
		</ol>
	</body>
</html>
