<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/style.css" />
		<title>Procesadores</title>
	</head>
	<body>
		<h1>Procesadores</h1>

		<h2>Preprocesadores</h2>

		<p>Son herramientas que toman un lenguaje y lo transforman en CSS</p>
		<p>
			lo encontramos en los distintos frameworks y en grandes compañías ya que permite trabajar a varias personas
			aplicando estilos y luego agruparlos dentro de una sola hoja
		</p>
		<h4>Beneficios:</h4>
		<ul>
			<li>Nos permiten tener mejor organizado nuestro código</li>
			<li>Estos tienen mas funcionalidades al momento de escribir el código CSS</li>
		</ul>
		<p>Estos pre procesadores hacen uso de Nodejs para la compilación</p>

		<h4><a href="https://stylus-lang.com/docs/executable.html" target="_blank" rel="noopener">Stylus</a></h4>
		<p>No necesitamos agregar las llaves luego de nuestro selector este lo maneja con indentación</p>
		<p>Tampoco necesitamos puntos y comas;</p>
		<p>Podemos crear mixins -> Es como si fuera una función</p>
		<p>Con la directiva @import mandamos llamar otros archivos</p>
		<p>Podemos crear ciclos</p>

		<h4><a href="https://lesscss.org/" target="_blank" rel="noopener">Less</a></h4>
		<cite>CSS con algunas cosas mas</cite>
		<p>
			Nesting -> Anidación dentro de CSS, dentro de un mismo selector poder definir los estilos para todos sus elementos
			internos, ademas, definir PseudoClases y PseudoElementos
		</p>

		<h4><a href="https://sass-lang.com/" target="_blank" rel="noopener">Sass</a></h4>
		<cite>CSS con super poderes</cite>
		<p>Es creado con Ruby</p>
		<p>Es casi el estandar dentro de los preprocesadores</p>
		<p>Estos archivos pueden tener como extension sass o scss -> "super css" que es la mas convencional</p>
		<p>Definimos las variables con $</p>

		<h2>Post procesadores</h2>
		<p>Son herramientas que procesan el CSS al finalizar, lo optimizan y lo automatizan</p>
		<p>Pueden agregar el soporte para las propiedades nuevas</p>
		<p>minifican la hoja de estilos</p>

		<h4><a href="https://postcss.org/" target="_blank" rel="noopener">Post CSS</a></h4>
		<cite>Es el mas popular</cite>
		<p>Trabaja con JavaScript</p>

		<h4><a href="https://cssnext.github.io/" target="_blank" rel="noopener">CSSnext</a></h4>
		<p>Nos da la posibilidad de usar las características antes de que se agreguen a CSS</p>

		<h4><a href="https://cssinjs.org/?v=v10.10.0" target="_blank" rel="noopener"> CSS in JS</a></h4>

		<p>
			En nuestro tiempo las librerías de JavaScript están en su auge y los desarrolladores tienen la posibilidad de
			definir los estilos dentro de sus propios componentes
		</p>
		<p>
			Estos son recomendados usar sobretodo cuando estamos en grandes proyectos, cuando nos estamos encargando de tan
			solo una parte del código y lo necesitan rápidamente o en ese formato
		</p>

		<h2>Herramientas</h2>

		<ul>
			<li><a href="https://codepen.io/" target="_blank" rel="noopener">codepen</a> -> Herramienta para practicar</li>
			<li>
				<a href="https://autoprefixer.github.io/" target="_blank" rel="noopener">Autoprefixer</a> -> Nos dará el soporte
				para todos los navegadores
			</li>
			<li>
				<a href="https://www.minifier.org/" target="_blank" rel="noopener">Minifier</a> -> Nos dará nuestro código
				minificado
			</li>
		</ul>
	</body>
</html>
