<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/style.css" />
		<title>Responsible-Design</title>
	</head>
	<body>
		<h1><i>Responsible Responsive Design</i></h1>
		<p>
			Mientras que el <i>Responsive Design</i> se basa en buenas prácticas de <i>CSS</i> para adaptar el contenido del
			documento <i>HTML</i> al tamaño de pantalla del dispositivo que lo visualice, el
			<i>Responsible Responsive Design</i> agrega buenas prácticas de programación <i>JS</i> no sólo para adaptar el
			contenido a la pantalla, sino también para mejorar el rendimiento y la carga de la interfaz en el navegador
			<i>web</i>.
		</p>
		<p>
			Fue propuesto por <a href="https://scottjehl.com/" target="_blank"><i>Scott Jehl</i></a> en 2014.
		</p>
		<h2>Más información</h2>
		<ul>
			<li>
				<a href="https://abookapart.com/products/responsible-responsive-design" target="_blank"
					>Libro <i>Responsible Responsive Design</i></a
				>
			</li>
			<li>
				<a href="https://www.youtube.com/watch?v=6IwUl-4pAzc&list=PLvq-jIkSeTUZ6QgYYO3MwG9EMqC-KoLXA" target="_blank"
					><i>Responsive con JS</i></a
				>
			</li>
		</ul>
	</body>
</html>
