<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Align box</title>
	</head>
	<body>
		<h2>Centrado de cajas</h2>
			<article class="sitio-web">
				<header>Cabecera</header>
				<main>Contenido Principal</main>
				<footer>Pie de pagina</footer>
			</article>

			<span>código:</span>
			<pre>
        <code>
          .sitio-web {
            text-align: center;
            margin: auto;
          }
        </code>
      </pre>

			<span>text-align</span>
			<p>Con esta propiedad centraremos el contenido de nuestro elemento</p>

			<span>margin</span>
			<p>
				Al poner el margin en <u>auto</u> este repartirá el espacio proporcionalmente de los lados, lo que hará que
				nuestro elemento quede en el centro.
			</p>
			<blockquote>
				Si pusiera uno de los margenes horizontales este tomaría todo el espacio por lo que daría el efecto que lo
				pusimos a la derecha o izquierda
			</blockquote>
		</article>
	</body>
</html>
