<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/style.css" />
		<title>Prefijos</title>
	</head>
	<body>
		<h1>Prefijo de los navegadores</h1>
		<ul>
			<li>Mozilla Firefox -> -moz-</li>
			<li>Microsoft edge e IE -> -ms-</li>
			<li>Para los demás -> -webkit-</li>
		</ul>

		<h2>Daremos soporte a todos los navegadores</h2>
		<a href="https://autoprefixer.github.io/" target="_blank" rel="noopener">Autoprefixer</a>

		<h2>Saber si podemos usarlo</h2>
		<p>Para saber a que navegadores debemos dar soporte podemos hacer uso de:</p>
		<a href="https://caniuse.com/">Can i use</a>
	</body>
</html>
