html {
	font-family: Comic, sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	background-color: #264de435;
	overflow-x: hidden;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body > *:not(h1, header) {
	max-width: 1240px;
	margin: 1rem auto;
	cursor: default;
}

body > img,
video,
iframe,
picture {
	display: flex;
	justify-content: center;
}

:root {
	--font-size-h1: clamp(2rem, calc(0.4rem + 4vw), 3rem);
	--font-size-h2: clamp(1.7rem, calc(0.4rem + 4vw), 2.5rem);
	--font-size-h3: clamp(1.3rem, calc(0.3rem + 3vw), 2.1rem);
	--font-size-h4: clamp(1.2rem, calc(0.1rem + 2vw), 1.7rem);
	--font-size-h5: clamp(1.1rem, calc(0.1rem + 2vw), 1.3rem);
	--font-size-p: clamp(1rem, calc(0.1rem + 3vw), 1.23rem);
}

a {
	color: #e94bb4;
	text-decoration: none;
	font-weight: bold;
}

h1 {
	color: white;
	margin: -8px;
	font-size: var(--font-size-h1);
	background-color: #264de4;
	padding: 1rem;
	position: sticky;
	top: 0;
	text-align: center;
	z-index: 998;
}

h2 {
	margin: 8px;
	font-size: var(--font-size-h2);
	padding: 0.5rem;
	font-style: italic;
}

h3 {
	margin: 8px 0;
	font-size: var(--font-size-h3);
}

h4 {
	margin: 8px 0;
	font-size: var(--font-size-h4);
}

h5 {
	margin: 8px 0;
	font-size: var(--font-size-h5);
}

ul,
ol {
	margin-right: 8px;
}

ul,
ol > li {
	font-size: var(--font-size-p);
}

hr {
	border: thin double #40cfff;
	width: 90%;
}

p {
	font-size: var(--font-size-p);
	text-align: justify;
}

pre {
	background-color: #40cfff;
	margin: 8px;
	white-space: pre-wrap;
	line-height: 1.1;
}

code {
	font-size: var(--font-size-p);
	font-family: Comic, sans-serif;
	color: #264de4;
}

img,
video,
iframe,
picture {
	width: 100%;
	height: auto;
	aspect-ratio: 16/9;
	max-width: 1024px;
}

/* Clases utilitarias */

.a {
	color: blue;
	position: absolute;
	top: 0;
	left: 45%;
	z-index: 99;
}

.bg-color {
	background-color: rgb(29, 53, 62);
}

.box {
	border: thick solid black;
	margin: 3rem auto 5rem;
	width: 200px;
	height: 200px;
}

.center {
	color: #fff;
	text-align: center;
	line-height: 200px;
}

.card {
	border: thick solid #000;
	width: 300px;
	height: 200px;
}

.card img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center left;
}

.example-boxs {
	display: grid;
	grid-template-columns: repeat(auto-fit, min(300px));
	gap: 1rem;
	justify-content: space-evenly;
}

.example-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, min(320px));
	justify-content: space-evenly;
	gap: 1rem;
	text-align: center;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.r {
	position: relative;
	margin: auto;
}

.text-20 {
	font-size: 20px;
}

.text-white {
	color: white;
}
