<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../assets/css/style.css" />
		<link rel="stylesheet" href="shapes.css" />
		<title>Formas</title>
	</head>
	<body>
		<h1>Formas</h1>
		<p>
			Con "<u>shape-outside</u>" podemos definir una forma que queremos que siga nuestro elemento que se encuentra en la
			parte de afuera de la imagen, esta propiedad tiene las mismas funciones que la de Enmascaramiento
			(<u>clip-path</u>). Todas las características a excepción de inset.
		</p>

		<article class="example-shapes">
			<h2>Ejemplos</h2>
			<h4>Formas y siluetas entre textos e imágenes</h4>

			<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta de Sol" class="float-left shape-1" />
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum odio, ullam dignissimos labore hic facilis
				iste ipsum excepturi id esse odit consequatur. Culpa praesentium, deserunt similique aliquam magnam fugit sequi.
			</p>
			<p>
				Eius quod optio ea itaque autem, possimus non. Unde, repellat consequuntur! Ab dolores nesciunt deserunt
				maiores, qui officia, vero doloremque, totam adipisci voluptates id. Assumenda asperiores aspernatur minima a
				magni.
			</p>
			<p>
				Praesentium ad magni sequi. Quas perspiciatis, dolores totam molestiae saepe ullam odit modi quis placeat sed
				veritatis ipsum laborum nesciunt in? Ipsum reiciendis deleniti, nemo modi laudantium odit iusto facere!
			</p>
			<p>
				Laboriosam, perferendis dolore? Sunt voluptates illum temporibus sed quos reprehenderit amet beatae delectus,
				eligendi autem maxime perferendis aut. Eius doloribus minus voluptate dicta facilis dolorem ad assumenda ducimus
				quidem veritatis?
			</p>
			<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta de Sol" class="float-right shape-2" />
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum odio, ullam dignissimos labore hic facilis
				iste ipsum excepturi id esse odit consequatur. Culpa praesentium, deserunt similique aliquam magnam fugit sequi.
			</p>
			<p>
				Eius quod optio ea itaque autem, possimus non. Unde, repellat consequuntur! Ab dolores nesciunt deserunt
				maiores, qui officia, vero doloremque, totam adipisci voluptates id. Assumenda asperiores aspernatur minima a
				magni.
			</p>
			<p>
				Praesentium ad magni sequi. Quas perspiciatis, dolores totam molestiae saepe ullam odit modi quis placeat sed
				veritatis ipsum laborum nesciunt in? Ipsum reiciendis deleniti, nemo modi laudantium odit iusto facere!
			</p>
			<p>
				Laboriosam, perferendis dolore? Sunt voluptates illum temporibus sed quos reprehenderit amet beatae delectus,
				eligendi autem maxime perferendis aut. Eius doloribus minus voluptate dicta facilis dolorem ad assumenda ducimus
				quidem veritatis?
			</p>
			<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta de Sol" class="float-left shape-3" />
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum odio, ullam dignissimos labore hic facilis
				iste ipsum excepturi id esse odit consequatur. Culpa praesentium, deserunt similique aliquam magnam fugit sequi.
			</p>
			<p>
				Eius quod optio ea itaque autem, possimus non. Unde, repellat consequuntur! Ab dolores nesciunt deserunt
				maiores, qui officia, vero doloremque, totam adipisci voluptates id. Assumenda asperiores aspernatur minima a
				magni.
			</p>
			<p>
				Praesentium ad magni sequi. Quas perspiciatis, dolores totam molestiae saepe ullam odit modi quis placeat sed
				veritatis ipsum laborum nesciunt in? Ipsum reiciendis deleniti, nemo modi laudantium odit iusto facere!
			</p>
			<p>
				Laboriosam, perferendis dolore? Sunt voluptates illum temporibus sed quos reprehenderit amet beatae delectus,
				eligendi autem maxime perferendis aut. Eius doloribus minus voluptate dicta facilis dolorem ad assumenda ducimus
				quidem veritatis?
			</p>
		</article>
	</body>
</html>
