<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../assets/css/style.css" />
		<link rel="stylesheet" href="margin-collapse.css" />
		<title>Margin collapse</title>
	</head>
	<body>
		<h1>Colapso de margenes verticales</h1>

		<p>
			Al dar margenes a nuestros elementos que están seguidos, lo que pensamos que pasaría normalmente es que nuestros
			margenes verticales y los horizontales de estos se sumen. lo que nos daría 32px entre cada uno de nuestros
			elementos. Sin embargo en nuestros margenes verticales no es asi, estos se acoplan, como si se encimaran. Por lo
			tanto seguiríamos con 16px entre nuestros elementos
		</p>
		<blockquote>
			La mejor forma que tenemos para no tener problemas con esta regla es: <u>usar una</u> de las dos propiedades. O
			usamos top, o usamos bottom. Tratar de no combinar ambos y si lo hacemos que sea lo mas mínimo posible.
		</blockquote>

		<pre>
        <code>
          margin-top: 16px;
          margin-bottom: 16px;
        </code>
      </pre>

		<h3>Ejemplo</h3>

		<section class="example-margin-c">Ejemplo</section>
		<section class="example-margin-c">Ejemplo</section>

		<h3>Cuando están en linea si se suman</h3>
		<span class="example-margin-c2">Example</span>
		<span class="example-margin-c2">Example</span>
		<span class="example-margin-c2">Example</span>
		<span class="example-margin-c2">Example</span>
	</body>
</html>
