<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/style.css" />
		<title>Box model</title>
	</head>
	<body>
		<h1>Modelo de Caja</h1>

		<h2>¿Que es?</h2>
		<p>Es la forma en que CSS ve a los elementos HTML. Como si fueran cajas</p>

		<ol>
			<li>
				Content:
				<p>El contenido del elemento HTML, tomando en cuenta sus dimensiones: <i>width</i> ancho <i>height</i> alto</p>
			</li>
			<li>
				Border:
				<p>Lo que delimita cada uno de los elementos HTML</p>
			</li>
			<li>
				Padding:
				<p>Son las distancias internas, la distancia del borde al contenido</p>
			</li>
			<li>
				Margin:
				<p>Las distancias externas, la distancias entre el elemento y sus hermanos o padres</p>
			</li>
		</ol>

		<h3>Lados dentro del modelo de caja:</h3>
		<ol>
			<li>Top -> Arriba</li>
			<li>Right -> Derecha</li>
			<li>Bottom -> Abajo</li>
			<li>left -> Izquierda</li>
		</ol>
		<p>Estas cuatro propiedades tienen su <u>shorthand</u> :</p>
		<pre>
      <code>
        inset: 10% 20% 30% 40%;
      </code>
    </pre>
		<p>El orden en que se definen es: <b>Top</b>, <b>Right</b>, <b>Bottom</b>, <b>Left</b></p>

		<h3>Box-Sizing -> Tamaño de Caja</h3>
		<p>Define como el elemento va a calcular el alto y ancho</p>

		<h4>content-box</h4>
		<p>Valor por defecto, tomara el tamaño de la caja a partir del inicio del contenido sin el padding ni el borde</p>
		<pre>
      <code>box-sizing: content-box;</code>
    </pre>

		<h4>border-box</h4>
		<p>El tamaño de la caja tendrá en cuenta el padding y el border</p>
		<pre>
      <code>box-sizing: border-box;</code>
    </pre>

		<blockquote>
			lo que hemos definido en estas propiedades serán considerados dentro de nuestro width y height.
		</blockquote>
		<blockquote>
			Los errores que se pueden dar usando el valor por defecto es que no se va a tomar como punto fijo el tamaño que
			hemos definido, ira aumentando según nuestros otros estilos
		</blockquote>
		<blockquote>
			Si definimos el tamaño de la caja desde el borde nos olvidaremos de hacer cálculos con el padding y borde que
			queramos agregarle a nuestro contenedor
		</blockquote>

		<h3>inicializarían</h3>

		<p>
			Desde el inicio pondremos nuestros elementos con el tamaño de la caja desde el borde. Ya que lo raro es que
			necesitemos el de por defecto, si lo necesitamos, podemos definir esta propiedad en nuestro elemento
			específicamente
		</p>
		<p></p>

		<pre>
        <code>
          html {
            box-sizing: border-box;
          }

          *,
          *::before,
          *::after {
            box-sizing: inherit;
          }
        </code>
      </pre>
		<p>
			Asi le aplicamos el tamaño de caja a nuestro documento html y hacemos que todos los elementos hereden este tamaño
		</p>
	</body>
</html>
