<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/style.css" />
		<title>Overflow</title>
	</head>
	<body>
		<h1>Overflow & Visibility</h1>
		<h2>Overflow</h2>
		<p>Definimos el comportamiento que tendrá nuestro contenido cuando sobresalgo de nuestro elemento</p>

		<h3>Opciones</h3>

		<h4>Visible</h4>
		<p><i>por defecto</i>, hará que nuestro contenido se vea aunque sea por fuera de nuestro elemento</p>

		<h4>Hidden</h4>
		<p>Oculta el contenido que sobresalga</p>

		<h4>Scroll</h4>
		<p>
			Creara las dos barras de navegación, el tamaño sera automático, es decir hasta que se vea nuestro contenido por
			completo. Si no es necesaria una de las dos se vera deshabilitada
		</p>

		<h4>Auto</h4>
		<p>El navegador decidirá cual es la mejor opción</p>

		<h4>Ejes</h4>
		<p>Podemos decidir el comportamiento por ejes:</p>
		<ul>
			<li>overflow-y: scroll -> vertical</li>
			<li>overflow-x: hidden -> horizontal</li>
		</ul>
		<p>de esta manera solo se vera la barra de navegación vertical</p>

		<h2>Visibility</h2>
		<p>Esta propiedad nos ayuda para mostrar u ocultar un elemento sin cambiar su disposición</p>

		<h3>Opciones</h3>
		<h4>Hidden</h4>
		<p>Ocultara nuestro elemento pero conservara el espacio que estaba usando</p>

		<h4>visible</h4>
		<p>Haremos que nuestro elemento se vuelva a ver</p>
	</body>
</html>
