<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/style.css" />
		<title>Reset - Normalize</title>
	</head>
	<body>
		<h1>Reseteo y Normalización</h1>
		<h2>Reseteo</h2>
		<p>
			Hay elementos que traen algunos estilos por defecto, lo que haremos al resetear (poner en 0) todos estos valores
			es tener el control absoluto de nuestro documento
		</p>
		<p>
			<a href="https://meyerweb.com/eric/tools/css/reset/" target="_blank" rel="noopener">Reset CSS</a>
		</p>

		<h2>Normalización</h2>
		<p>
			La normalización es una <b>mejor opción</b> ya que aplicara los estilos necesarios para que nuestro sitio se vea
			de igual manera en todos los navegadores, es como poner un estándar.
		</p>
		<p>
			<a href="https://necolas.github.io/normalize.css/" target="_blank" rel="noopener">Normalize CSS</a>
		</p>
		<blockquote>Lo mejor es usar uno u otro</blockquote>
	</body>
</html>
