<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/style.css" />
		<title>Selectores</title>
	</head>
	<body>
		<h1>Selectores</h1>
		<h2>Básicos</h2>
		<ol>
			<li>Etiquetas -> Elementos HTML</li>
			<li>Identificadores -> Atributo id: <b>#</b></li>
			<li>Clases -> Atributo class: <b>.</b></li>
		</ol>
		<h3>Ejemplos:</h3>

		<pre>
        <code>
          p {
            color: midnightblue;
          }
        </code>
      </pre>
		<blockquote>
			<p>
				Si lo hacemos con la etiqueta, el problema es que <b>TODAS</b> las etiquetas de nuestro documento tendrán el
				estilo
			</p>
		</blockquote>

		<pre>
        <code>
          #paragraph {
            background-color: skyblue;
          }
        </code>
      </pre>
		<blockquote>
			<p>
				Con el id es posible, pero se considera un <b>antipatrón</b>, una <b>mala practica</b> ya que solo una etiqueta
				debería tener el id. ¿ y si queremos aplicar el mismo estilo a otros elementos ?
			</p>
			<p>
				Los ids tienen mayor peso (especificidad) que los demás selectores por lo que podríamos presentar problemas al
				usarlos para aplicar estilos
			</p>
		</blockquote>

		<h3>CSS</h3>
		<pre>
        <code>
          .bg-color {
            background-color: rgb(29, 53, 62);
          }

          .text-20 {
            font-size: 20px;
          }

          .text-white {
            color: white;
          }
        </code>
      </pre>
		<h3>HTML</h3>
		<pre>
        <code>
          &lt;p class="bg-color text-20 text-white"&gt; Selección con clase &lt;/p&gt;
        </code>
      </pre>

		<h3>Resultado:</h3>
		<p class="bg-color text-20 text-white">Selección con clase</p>
		<blockquote>
			<p>
				Las clases son <b>La mejor opción</b> para dar estilos ya que no solo debemos ponerlas en una etiqueta lo que
				nos permite <b><i>reutilizar</i></b> nuestro código CSS. Al igual que un etiqueta puede tener varias clases
			</p>
			<p>Tratar que los nombres de las clases sean alusivas a los estilos que aplicaremos con ellas</p>
		</blockquote>
		<hr />

		<h2>Avanzados</h2>

		<blockquote>A los elementos que usamos como referencia no se le aplican los estilos</blockquote>

		<h3>Hijos directos <b>></b></h3>
		<pre>
        <code>
          .hijos-directos > li 
        </code>
      </pre>
		<p>
			Los hijos directos son aquellos que se encuentran justo después de nuestro elemento padre. Si el elemento si es un
			hijo pero no esta definido debajo de nuestro elemento padre, El estilo no se aplicara.
		</p>

		<h3>Hijos descendientes</h3>
		<pre>
        <code>
          .hijos-descendientes b
        </code>
      </pre>
		<p>
			Los hijos descendientes son los todos los elementos que están dentro de nuestro elemento padre no importa el lugar
			donde se encuentra el elemento
		</p>

		<h3>Hermanos siguientes <b>~</b></h3>
		<pre>
        <code>
          .hermanos-general ~ li
        </code>
      </pre>
		<p>Los hermanos son los elementos que se encuentran en el mismo nivel</p>

		<h3>Hermanos adyacentes <b>+</b></h3>
		<pre>
        <code>
          .hermanos-adyacentes + li
        </code>
      </pre>
		<p>Los estilos se le aplicaran solo al siguiente elemento con la etiqueta li</p>
		<hr />

		<h2>Por referencia</h2>
		<blockquote>Accederemos a nuestros elementos por medio de sus atributos</blockquote>

		<h3>General <b>[]</b></h3>
		<pre>
        <code>
          .selectores-atributos a[href]
        </code>
      </pre>
		<p>Accederemos a todos los elementos a que tengan el atributo <u>href</u></p>

		<h3>Atributo con valor</h3>
		<pre>
        <code>
          .selectores-atributos a[target="_blank"]
        </code>
      </pre>
		<p>Podemos ser mas específicos poniendo el valor que queremos que el atributo tenga</p>

		<h3>Buscando una palabra <b>*=</b></h3>
		<pre>
        <code>
          .selectores-atributos a[href*="palabra"]
        </code>
      </pre>
		<p>
			Combinando estos símbolos podemos aplicar estilos cuando un elemento tenga en su atributo la palabra que buscamos
		</p>

		<h3>Valor de inicio <b>^=</b></h3>
		<pre>
        <code>
          .selectores-atributos a[href^="http:"]
        </code>
      </pre>
		<p>Tomamos todos los elementos que su atributo <b>inicie</b> con el valor que definimos</p>

		<h3>Valor final <b>$=</b></h3>
		<pre>
        <code>
          .selectores-atributos a[href$=".com"]
        </code>
      </pre>
		<p>Los estilos se aplicaran a elementos que su atributo <b>finalicen</b> con nuestro valor(.com)</p>

		<h3>Buscar entre espacios <b>~=</b></h3>
		<pre>
        <code>
          .selectores-atributos a[class~="cursos"]
        </code>
      </pre>
		<p>Aplica el estilo si contiene el texto en cuestión en una lista separada por espacios</p>

		<h3>Buscar entre espacios con guion <b>|=</b></h3>
		<pre>
        <code>
          .selectores-atributos a[class|="menu"]
        </code>
      </pre>
		<p>
			Buscara nuestro texto en una lista separada por espacios y que luego de nuestro texto venga un -; por ejemplo:
			menu-item
		</p>

		<h3>Selector universal <b>*</b></h3>
		<pre>
        <code>
          *
          
          .selector-universal * 
        </code>
      </pre>
		<p>
			La propiedad se aplicara para todos los elementos que estén dentro de nuestro punto de referencia, si no lo hay,
			se aplicaran a todo el documento
		</p>

		<h3>Agrupar selectores <b>,</b></h3>
		<pre>
      <code>
        .form-agrupar-selectores input[type="text"],
        .form-agrupar-selectores input[type="email"],
        .form-agrupar-selectores textarea{}
      </code>
    </pre>
		<p>Si queremos usar los mismos estilos para varios elementos debemos separar los selectores con una (,)</p>
	</body>
</html>
