<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../assets/css/style.css" />
		<link rel="stylesheet" href="blend-modes.css" />
		<title>Modos de mezcla</title>
	</head>
	<body>
		<h1>Modo de mezcla</h1>
		<p>Definimos el comportamiento que tendrán imágenes mayormente al haber mas de 1</p>
		<p>Estos estilos deben ir directamente a los elementos que están encimados, no al contenedor</p>
		<p>
			Sobre las imágenes usaremos la propiedad <u>mix-blend-mode</u> e igualmente podemos aplicar los mismos valores
			para las de fondo, solo debemos usar la propiedad <u>background-blend-mode</u>
		</p>

		<h2>Ejemplos de mezclas:</h2>
		<div class="example-cards">
			<article class="card r blend-modes mb-normal">
				<p class="a">normal</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-color">
				<p class="a">color</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-color-dodge">
				<p class="a">color-dodge</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-color-burn">
				<p class="a">color-burn</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-screen">
				<p class="a">screen</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-multiply">
				<p class="a">multiply</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-saturation">
				<p class="a">saturation</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-luminosity">
				<p class="a">luminosity</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-hue">
				<p class="a">Hue</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-exclusion">
				<p class="a">Exclusion</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-difference">
				<p class="a">Difference</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-hard-light">
				<p class="a">Hard-light</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-soft-light">
				<p class="a">Solf-light</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-lighten">
				<p class="a">Lighten</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-overlay">
				<p class="a">overlay</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
			<article class="card r blend-modes mb-darken">
				<p class="a">Darken</p>
				<img src="../../../assets/images/puesta-sol.jpg" alt="Puesta del Sol" />
				<img class="a" src="../../../assets/images/BuenosDias.jpg" alt="Buenos Dias" />
			</article>
		</div>
	</body>
</html>
