<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../assets/css/style.css" />
		<link rel="stylesheet" href="position.css" />
		<title>Position</title>
	</head>
	<body>
		<h1>Posicionamiento</h1>
		<h2>Position</h2>
		<p>Nos permite modificar la disposición natural de cualquier elemento del documento HTML</p>
		<blockquote>
			El navegador coloca cada elemento teniendo en cuenta el orden en el que aparece en el documento y su tipo de
			visualización, dependiendo si es un elemento en linea o bloque
		</blockquote>

		<p>Al definir cualquier tipo de Posicionamiento se nos activan las propiedades:</p>
		<ul>
			<li>
				Top (vertical -- eje Y)
				<p>+ baja el documento -> - lo sube</p>
			</li>
			<li>
				Left (horizontal -- eje X)
				<p>+ lo mueve hacia la derecha -> - lo mueve hacia la izquierda</p>
			</li>
			<li>
				Bottom (vertical -- eje Y)
				<p>+ mueve hacia arriba el elemento -> - lo baja</p>
			</li>
			<li>
				Right (horizontal -- eje X)
				<p>+ mueve hacia la izquierda -> - lo mueve hacia la derecha</p>
			</li>
			<li>Z-index (profundidad -- eje Z)</li>
		</ul>

		<p><b>Estas no están disponibles es nuestro posicionamiento por defecto (static)</b></p>

		<blockquote>
			Las propiedades <b><u>top</u> y </b> <b><u>left</u></b> tienen preferencia sobre bottom y right
		</blockquote>

		<h2>Tipos de Posicionamiento</h2>
		<h3>Static</h3>
		<p>
			Es el valor por defecto, significa que el elemento respeta el flujo del documento, por lo que no se puede mover ni
			posicionar
		</p>

		<pre>
      <code>
        .static {
          background-color: yellow;
          position: static;
          width: 200px;
          top: 10px;
          left: 10px;
        }
      </code>
    </pre>

		<blockquote>Como vemos, ni el top ni el left tienen efecto</blockquote>

		<h3>Relative</h3>
		<p>
			El elemento conserva sus dimensiones y posición original en el flujo del documento. Si lo movemos toma como
			referencia su posición original
		</p>
		<p>Aunque movamos nuestro elemento, en donde este estaba se quedara el vació, como si siguiera allí</p>
		<pre>
      <code>
        .relative {
          background-color: turquoise;
          bottom: 50px;
          left: 100px;
          position: relative;
          right: 50px;
          top: 10px;
          width: 200px;
        }
      </code>
    </pre>
		<blockquote><u>bottom</u> y <u>right</u> no tienen efecto ya que hemos definido top y left</blockquote>
		<blockquote>
			Podemos ver como nuestra caja se fue 10px hacia abajo y 100px hacia la derecha de donde se encontraba
		</blockquote>

		<h3>Absolute</h3>
		<p>
			El elemento pierde sus dimensiones y posición original en el flujo del documento. Si se mueve puede tomar como
			referencia 2 elementos:
		</p>
		<ol>
			<li>El primer ancestro con posicionamiento relativo</li>
			<li>Si no encuentra un ancestro relativo, se mueve respecto del documento HTML</li>
		</ol>
		<blockquote>Al perder sus dimensiones se las debemos dar explícitamente</blockquote>
		<span>Sin Ancestros relativos</span>
		<pre>
      <code>
        .absolute {
          background-color: tomato;
          position: absolute;
          width: 20%;
          height: 30px;
          /* right: 0;
          bottom: 0; */
        }
      </code>
    </pre>
		<blockquote>
			Si habilitamos nuestras 2 propiedades de posicionamiento, nuestro elemento se movera hacia la parte inferior
			derecha pero del inicio de nuestro documento
		</blockquote>

		<h4>Con ancestro relativo</h4>
		<pre>
        <code>
          .absolute-child {
            background-color: lightcoral;
            position: absolute;
            right: 0;
            bottom: 0;
          }
        </code>
      </pre>
		<blockquote>
			De esta forma nuestro elemento se esta ubicando según su ancestro, en este caso lo hemos puesto en la parte
			inferior derecha
		</blockquote>

		<h3>Fixed</h3>
		<p>
			El elemento pierde sus dimensiones y posición original en el flujo del documento. Si lo movemos este toma como
			referencia el documento HTML y queda fijo en la posición, cuando el scroll se mueve el elemento no lo hará, queda
			<b>fijo</b>
		</p>
		<pre>
        <code>
          .fixed {
            background-color: lightgreen;
            /* position: fixed; */
            width: 200px;
            height: 30px;
            top: 30px;
            left: 80%;
          }
        </code>
      </pre>
		<blockquote>
			Con top y left definimos donde se quedara nuestro documento, este durante todo el documento estará allí
		</blockquote>

		<h3>Sticky</h3>
		<p>
			Es una combinación de posicionamiento relative y fixed, para este posicionamiento las propiedades top, right,
			bottom y right no mueven el elemento, sirven como un punto de referencia. Mientras no lleguen a ese valor el
			elemento se comporta como relative, cuando llega se convierte en fixed
		</p>
		<blockquote>
			Para que este comportamiento funcione el elemento sticky debe ser hijo directo del body o sue elemento contenedor
			debe tener dimensiones definidas y solo sera sticky dentro de las dimensiones de su contenedor padre
		</blockquote>
		<div class="sticky">Caja Pegajosa</div>
		<pre>
        <code>
          .sticky {
            background-color: lightskyblue;
            /* position: sticky; */
            top: 20px;
          }
        </code>
      </pre>
		<p>
			Cuando llegue a 20px del top, de arriba, es cuando empieza a tener el comportamiento de un elemento con
			posicionamiento fixed
		</p>

		<section class="example-positions">
			<div class="static">Caja estática</div>
			<div class="relative">Caja Relativa</div>
			<div class="absolute">Caja Absoluta</div>
			<section class="relative-parent">
				<div class="absolute-child">Caja Absoluta con Ancestro Relativo</div>
			</section>
			<div class="fixed">Caja fija</div>
			<div class="sticky-child">Caja Pegajosa Como hijo</div>
			<p>En cuanto llegamos al final de esta sección nuestro elemento sticky se quedara con esta</p>
		</section>
	</body>
</html>
