<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../assets/css/style.css" />
		<link rel="stylesheet" href="scroll-one-page.css" />
		<title>Scroll One Page</title>
	</head>
	<body>
		<header class="header">
			<h2>Mis anotaciones</h2>
			<nav>
				<a href="#temario-css">Inicio</a>
				<a href="#visual-efects">Efectos visuales en CSS</a>
				<a href="#gradient">Degradados</a>
				<a href="#filters">Filtros</a>
				<a href="#blend-modes">Modos de mezcla</a>
				<a href="#clip-path">Enmascaramiento</a>
				<a href="#shapes">Formas</a>
				<a href="#scroll-one-page">Efectos de Scroll</a>
				<a href="#scroll-snap-slides">Ajuste del scroll</a>
				<a href="#motion">Movimiento en CSS</a>
			</nav>
		</header>

		<h1>Efectos de Scroll (<small>Sitio One Page</small>)</h1>
		<p>
			Hacer las animaciones o transiciones en un solo tiempo se ve mal y son los pequeños detalles los que debemos tener
			en cuenta, ya que estos son los que hacen que nuestro sitio se vea bien y los usuarios queden con una buena imagen
			y vuelvan.
		</p>
		<p>
			La propiedad "<u>scroll-behavior</u>" controlaremos el movimiento de nuestra barra de navegación, se lo debemos
			aplicar a nuestro html ya que este es el que se esta desplazando
		</p>
		<p>
			Esta propiedad solo tiene un valor, como si fuese un booleano. con <u>smooth</u> haremos que nuestro movimiento
			sea mas suave
		</p>
		<p>
			Uno de los inconvenientes que nos podemos encontrar al usar una cabecera como la que he desarrollado es que al
			acceder a uno de nuestras secciones nuestra cabecera quede delante y por lo tanto lo primero no se vera, para ello
			podemos usar la propiedad <u>scroll-margin</u>, esta tiene la misma funcionalidad que el margin, solo que este
			hara efecto cuando hayamos accedido desde nuestra cabecera
		</p>
		<p>
			En este caso tal vez podemos tener en cuenta la unidad de medida "ex" para aplicar este top ya que estamos
			trabajando con el alto de nuestra cabecera
		</p>

		<blockquote>
			<cite>
				En este caso quería explicar estos puntos y poner el header aparte por si lo necesito en otros proyectos,
				podemos ver estos efectos en la pagina principal y en algunas otras paginas donde he puesto mas contenido
			</cite>
		</blockquote>
	</body>
</html>
